[user]
	name = Ian Laird
	email = irlaird@gmail.com

[core]
    editor = vim --noplugin
    # filemode = false
    # autocrlf = false

[color]
    ui = true

[merge]
    tool = vimdiff

[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false

[push]
	default = matching

[alias]
    last = log -1 --stat
    lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
    statusmon = status -s
    logmon = log --author='Ian Laird' -n4 --graph --pretty='short'
